.App {
  text-align: center;
  background-color: #FFF;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.gitcatt {
  height: 40px;
  width: relative;
  margin: auto;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
