.Description {
    width: 400px;
    border: 5px solid black;
    text-align: center;
    color:  grey;
    font-size: medium;
    display: block  ;
    align-content: inline;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
  }