.footer {
    color: black;
    background-color: grey;
    text-align:center;
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    height:80px;
    padding-bottom: 60px;
    margin: auto;
 
  }

  .icon {
    height: 50px;
    width: relative;
    margin: auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  
  }


