.footer {
    color: black;
    background-color: #efbb35;
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    height:60px;
    padding-bottom: 60px;
  }

  .icon {
    height: 40px;
    width: relative;
    margin: auto;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
