.Wrapper {
    background-color: grey;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profpic {
    border-radius: 100%;
    border: 5px solid black;

  }
  
  .resbutton {
    color: white;
    border-radius:4px;
    border-color: black;
    border-width: 3px;
    background: grey;
    font-size: 125%;
    font-weight: bold;
    width: 200px;
    height:50px;
  }