.Wrapper {
    width: 400px;
    background-color: darkgrey;
    float: left;
    align-items: center;
    margin-left:5%;
    margin-top:5%;
    justify-content: center;
    text-align: center;
    border: 5px solid black;
}

.profpic {
    border-radius: 100%;
    border: 5px solid black;

  }
  
  .resbutton {
    color: white;
    border-radius:500px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
    border-color: black;
    border-width: 3px;
    background: darkgrey;
    font-size: 125%;
    font-weight: bold;
    width: 200px;
    height:50px;
    text-align: center;
  }

  .resbutton:hover {
    background: grey;
  }